:root {
  // Base colors
  --dcl-c-blue-100: hsl(215, 45%, 89%);
  --dcl-c-blue-200: hsl(220, 15%, 55%);
  --dcl-c-blue-300: hsl(218, 44%, 22%);
  
  --dcl-c-light-blue-200: hsl(216, 95%, 57%);

  --dcl-c-gray-200: hsl(212, 45%, 89%);
  --dcl-c-red-200: hsl(0, 99%, 48%);
  --dcl-c-green-200: hsl(143, 99%, 36%);

  --dcl-c-white: hsl(0, 0%, 100%);
  --dcl-c-black: hsl(0, 100%, 0%);
}
