@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --dcl-font-weight-regular: 400;
  --dcl-font-weight-bold: 700;

  --dcl-font-size-xbig: #{px2rem(32)};
  --dcl-font-size-big: #{px2rem(18)};
  --dcl-font-size-medium: #{px2rem(15)};
  --dcl-font-size-small: #{px2rem(12)};

  --dcl-defualt-font-family: 'Outfit';
}