* {
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::selection {
    background-color: var(--dcl-c-blue-100, #000);
    color: var(--dcl-c-white, #fff)
  }

  &:focus {
    outline: none;
  }
}

html, body {
  @include text--paragraph;

  min-height: 100%;
  margin: 0;
  padding: 0;

  background: var(--dcl-c-blue-100, #000);
}

#app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.root-layout {
  @include create-animation(
    $name: 'appear-change-view',
    $from: translateY(100px),
    $to: translateY(-100px),
    $duration-out: .2s
  );

  display: flex;
  flex-direction: column;
  height: max(100vh, 100%);
  overflow: hidden;
  width: 100vw;

  @include breakpoint('tablet-pt') {
    flex-direction: row;
  }

  &__modules {
    display: flex;
    flex: 2;
    overflow: auto;
    order: 2;

    @include breakpoint('tablet-pt') {
      order: 1;
    }
  }

  &__aside {
    align-items: flex-end;
    display: flex;
    flex: 0 0 calc(var(--dcl-spacing-xbig));
    justify-content: center;
    order: 2;

    background: var(--dcl-c-white);
    box-shadow: 2px 0px 3px 3px rgba(0,0,0,0.05);

    @include breakpoint('tablet-pt') {
      flex: 0 0 calc(var(--dcl-spacing-xbig) * 2);
      order: 1;

      box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.05);
    }
  }
}

.is-loading {
  @include spinner(60, 15, var(--dcl-c-blue-300));

  animation-name: loading;
  animation-duration: .8s;
  animation-timing-function: var(--dcl-ease-out);
  animation-fill-mode: forwards;
}