.gallery-list {
  $gallerylist: &;

  @include create-animation(
    $name: 'appear-gallery-item',
    $from: translateY(50px),
    $to: translateY(-50px),
    $duration: .3s,
    $duration-out: .2s
  );

  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  > li {
    &:not(#{$gallerylist}__warning){
      flex: 0 0 calc(100% / 2);

      background: var(--dcl-c-blue-100, #000);
      outline: 1px solid var(--dcl-c-blue-200, #000);
      outline-offset: -1px;

      @include breakpoint('only-phone') {
        flex: 0 0 calc(100% / 2);
      }

      @include breakpoint('tablet-pt') {
        flex: 0 0 calc(100% / 3);
      }

      @include breakpoint('tablet-ld') {
        flex: 0 0 calc(100% / 4);
      }

      @include breakpoint('desktop') {
        flex: 0 0 calc(100% / 6);
      }

      @include breakpoint('large-desktop') {
        flex: 0 0 calc(100% / 8);
      }
    }
  }

  &__warning {
    @include text--title;

    display: flex;
    flex: 1;
    justify-content: center;

    color: var(--dcl-c-red-200, #000);
  }
}