.picture-item {
  $pictureitem: &;

  display: flex;
  min-height: calc(100vh / 4);
  position: relative;
  overflow: hidden;

  &--is-disabled {
    &::before {
      @include keyAnimation(appear) {
        0% { background: hsla(0, 100%, 0%, 0); }
        100% { background: hsla(0, 100%, 0%, .7); }
      };

      height: 100%;
      left: 50%;
      top: 50%;
      position: absolute;
      width: 100%;

      transform: translateX(-50%) translateY(-50%);
      content: '';

      animation-name: appear;
      animation-duration: .6s;
      animation-timing-function: --dlc-ease-out;
      animation-fill-mode: forwards;
      animation-delay: 4s
    }
  }

  &--is-loading {
    @include spinner(25, 5, var(--dcl-c-blue-300), $position: absolute);

    animation-name: loading;
    animation-duration: .8s;
    animation-timing-function: var(--dcl-ease-out);
    animation-fill-mode: forwards;
  }

  &__caption {
    @include text--paragraph;

    bottom: 0;
    display: flex;
    padding: var(--dcl-spacing-small, 8px);
    min-height: 20%;
    position: absolute;
    width: 100%;

    background: hsla(0, 100%, 0%, .3);
    color: var(--dcl-c-white, #fff);

    transition: transform .6s var(--dcl-ease-out, linear);

    @include breakpoint('tablet-ld') {
      transform: translateY(100%);
    }
  }

  &__action {
    top: var(--dcl-spacing-small, 4px);
    position: absolute;
    right: var(--dcl-spacing-small, 4px);
  }

  > [data-image] {
    opacity: 0;
    &[src] {
      

      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    &.is--load-end {
      @include keyAnimation(lazy) {
        0% { opacity: 0; }
        100% { opacity: 1; }
      };

      animation-name: lazy;
      animation-duration: 3s;
      animation-timing-function: var(--dcl-ease-out);
      animation-fill-mode: forwards;
    }
  }

  &:hover {
    @include breakpoint('tablet-ld') {
      &:not(#{$pictureitem}--is-disabled) {
        #{$pictureitem}__caption {
          transform: translateY(0);
        }
      }
    }
  }
}